
	<div class="welcome-text text-center">
		<h2>
			Hello, Welcome to <strong>RR-app</strong>
		</h2>
		<form action="#" method="get" class="subscribe-form">
			<div class="row">
				<fieldset class="col-md-offset-2 col-md-6">
					<input name="login" class="email" type="text"
						id="login" placeholder="Write your login here..">
				</fieldset>
				<fieldset class="col-md-offset-2 col-md-6">
					<input name="pwd" class="email" type="password"
						id="pwd" placeholder="Write your password here..">
				</fieldset>
				<fieldset class="col-md-4 button-holder">
					<input name="submit" type="submit" class="button default"
						id="submit" value="Login">
				</fieldset>
			</div>
		</form>
	</div>