
<div class="row">
	<div class="box-content">
		<h3 class="widget-title">Send Us A Message</h3>
		<form class="contact-form">
			<fieldset>
				<input type="text" class="name" id="name" placeholder="Name...">
			</fieldset>
			<fieldset>
				<input type="email" class="email" id="email" placeholder="Email...">
			</fieldset>
			<fieldset>
				<input type="text" class="subject" id="subject"
					placeholder="Subject...">
			</fieldset>
			<fieldset>
				<textarea name="message" id="message" cols="30" rows="4"
					placeholder="Message.."></textarea>
			</fieldset>
			<fieldset>
				<input type="submit" class="button" id="button" value="Send Message">
			</fieldset>
		</form>
	</div>
</div>

